.about
	text-align: center
	padding: 0 84px
	margin-bottom: 45px
	
	&__img, &__text
		display: inline-block
		vertical-align: middle
	&__text
		text-align: left
		padding-left: 23px
		max-width: 60%
		line-height: 1.5
		margin-top: -8px
		p
			margin: 0
			& + p
				margin-top: 12px*$rem