$c_link: #895f89

.back-call
	position: absolute
	right: 0
	margin-top: -9px
	&__info
		position: absolute
		text-align: right
		top: 0
		right: 0
		padding: 40px 102px 0 0 
	&__phone
		font-size: 18px*$rem
	&__link
		color: $c_link
		font-size: 15px*$rem