.banner
	padding: 50px 50px 35px
	width: 939px
	height: 409px
	position: relative
	text-align: center
	margin: 0 auto
	margin-bottom: 64px
	&:after
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: url("../img/assets/banner-border.png") center no-repeat
		content: ''
