.contacts
	min-height: 763px
	background: url("../img/bg/contacts.png") center no-repeat
	text-align: center
	padding-top: 424px
	&__info
		display: inline-block
		position: relative
		color: #fff
		&:before, &:after
			content: ''
			display: block
			border: 180px solid transparent
			position: absolute
			left: 50%
			margin-left: -180px
		&:before
			border-top-color: #6b5f8f
			top: 50%
			// background-color: #6b5f8f
		&:after
			border-bottom-color: #6b5f8f
			bottom: 50%
	&__inner
		display: inline-block
		position: relative
		z-index: 1
		font-size: 18px*$rem
		padding-bottom: 8px
		small
			font-size: 0.95em
			text-transform: uppercase
	&__logo
		padding-bottom: 10px
		position: relative
		margin-bottom: 17px
		&:after
			width: 25px
			height: 2px
			content: ''
			background-color: #fff
			display: block
			left: 50%
			margin-left: -12.5px
			bottom: 0
			position: absolute
	&__text
		line-height: 1.45