$c_active: #8a5f8a

.menu
	text-align: center
	font-weight: 600
	font-size: 16px*$rem
	text-transform: uppercase
	line-height: 25px*$rem
	margin-bottom: 3px
	&__item
		display: inline-block
		text-decoration: none
		margin: 0 15px
		&_state-active, &:hover
			color: $c_active
			border-bottom: 3px solid currentColor