.service
	text-align: center
	margin-bottom: 23px
	&__header
		position: relative
		font-size: 40px*$rem
		display: inline-block
		margin-left: 8px
		margin-bottom: 67px
		font-weight: 600
		img
			display: block
	&__item
		display: inline-block
		position: relative
		box-shadow: 18px 17px 24px -12px rgba(0, 0, 0, 0.33)
		text-decoration: none
		color: #fff
		font-size: 17px*$rem
		vertical-align: top
		font-weight: 800
		// margin: 0 40px
		&_1
			margin-right: 88px
			margin-top: 24px
		&_2
			margin-right: 59px
		&_3
			margin-top: 39px
	&__border
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
	&__name
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)