@import helpers/normalize.scss
// Переменные
$body_fontsize: 16px
$rem: 1rem/$body_fontsize

// миксины
=clearfix()
	&:after
		clear: both
		display: block
		content: ''
// шрифты:

@font-face
	font-family: 'ProximaNova'
	src: url(../fonts/Proxima_Nova_Regular.otf)
	font-weight: 400
@font-face
	font-family: 'ProximaNova'
	src: url(../fonts/Proxima_Nova_Semibold.otf)
	font-weight: 600
@font-face
	font-family: 'ProximaNova'
	src: url(../fonts/Proxima_Nova_Bold.otf)
	font-weight: 700


html, body
	height: 100%

body
	font-family: 'ProximaNova'
	font-size: $body_fontsize
	font-weight: 400
	min-width: 1200px
*
	box-sizing: border-box
img
	display: block
	margin: 0 auto

.wrapper
	min-height: 100%
	max-width: 1200px
	margin: 0 auto
	background: url(../img/bg/sign.png) no-repeat 100% 44%, url(../img/bg/plant.png) no-repeat 0 38%, url("../img/bg/index.jpg")
	position: relative
	overflow: hidden 
.container
	width: 960px
	margin: 0 auto


@import blocks/header
@import blocks/logo
@import blocks/back-call
@import blocks/menu
@import blocks/banner
@import blocks/about
@import blocks/service
@import blocks/contacts
@import blocks/footer