doctype html
html(lang="ru")
	head
		title Provence Фотостудия
		link(rel="stylesheet", href="css/index.css")
		meta(charset="utf-8")
	body
		.wrapper
			header
				.container
					a(href="").logo
						.logo__img
							img(src="img/assets/logo.png", alt="")
						.logo__text
							| Фотостудия
					.back-call
						img(src="img/bg/shelf.png", alt="")
						.back-call__info
							.back-call__phone
								| 8-963-825-45-69
							a(href="").back-call__link
								| Заказать звонок
			nav
				.container
					.menu
						a(href="").menu__item.menu__item_state-active О студии
						a(href="").menu__item УСЛУГИ                            
						a(href="").menu__item ЗАЛЫ
						a(href="").menu__item БРОНИРОВАНИЕ
						a(href="").menu__item ЦЕНЫ
						a(href="").menu__item КОНТАКТЫ
			section
				.container
					.banner
						.banner__img
							img(src="img/assets/banner.jpg", alt="")
					.about
						.about__img
							img(src="img/assets/about.png", alt="")
						.about__text
							p Фотостудия «Прованс» — пространство для реализации ваших творческих идей.
							p Мы это — 360 кв.м., оборудование PROFOTO, постоянный свет ARRI и DEDOLIGHT. Естественный свет, большие окна выходящие на восток. Яркие, фактурные зоны в залах. Реквизит и мебель. Для отдыха и кофе-брейк у нас большая кухня.
					.service
						.service__header
							img(src="img/assets/service-header-border.png", alt="")
							.service__name УСЛУГИ
						.service__list
							a(href="").service__item.service__item_1
								.service__pic
									img(src="img/assets/service-1.png", alt="")
								.service__border
									img(src="img/assets/service-1-border.png", alt="")
								.service__name
									| АРЕНДА <br> СТУДИИ
							a(href="").service__item.service__item_2
								.service__pic
									img(src="img/assets/service-2.png", alt="")
								.service__border
									img(src="img/assets/service-2-border.png", alt="")
								.service__name
									
							a(href="").service__item.service__item_3
								.service__pic
									img(src="img/assets/service-3.png", alt="")
								.service__border
									img(src="img/assets/service-3-border.png", alt="")
								.service__name
									
			.contacts
				.container
					.contacts__info
						.contacts__inner
							.contacts__logo
								img(src="img/assets/logo_white.png", alt="")
							.contacts__text
								small
									| краснодар <br>
								| Красноармейская, дом 161 <br>
								| 7-897-654-32-10 <br>
								| info@provence.mail.ru
			footer
				.container
					| 2016  Фотостудия «Прованс»